.longin{
    height:4.95rem;
    width:100%;
    font-size:0.51rem;
    text-align: center;
    h2{
        width:8.5rem;
        height:1.18rem;
        margin: 0 auto;
        background:#6fbd53;
        color:#fff;
        line-height: 1.18rem;
    }
    h3{
        width:8.5rem;
        height:1.18rem;
        background:#f96650;
        margin:0 auto;
        margin-top:0.6rem;
        color:#fff;
        line-height: 1.18rem;
    }
    h4{
        width:8.5rem;
        height:1.18rem;
        margin-top:0.66rem;
        color:#f96650;
        line-height: 1.18rem;
    }
}
