.Email-header{
    height:1.71rem;
    width:100%;
    font-size:0.47rem;
    color:#505044;
    display: flex;
    padding:0 0.88rem;
    align-items: center;
    span{
        margin-left:3rem;
    }
}
.Email-content{
    margin-top:2.96rem;
    height:3.3rem;
    margin-bottom:1.36rem;
    width:100%;
    padding:0 0.79rem;
    h2{
        font-size:0.7rem;
        color:#000;
        margin-bottom:1.3rem;
        text-align: center;
    }
}
